body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f1f1;
  font-family: Arial, sans-serif;
}

.calculator{
  width: 320px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin:50px
}

#display{
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin:-10px;
  text-align: right;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn{
  padding: 18px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: #eaeaea;
}

.btn:hover{
  background: #d2d2d2;
}

.operator{
  background: #fddd8d;
}

.equal{
  background: #32ca79;
  color: white;
  grid-row: span 2;
}

.zero{
  grid-column: span 2;
}

.clear{
  background: #e63946;
  color: white;
}

.delete{
  background: #6c757d;
  color: white;
}
